{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<head>
    <script src="{% static 'network/index.js' %}"></script>
</head>
<button onclick="post()" id="new-post">New Post</button>
<form action="{% url 'index' %}" id="post-view" style="display:none" method="post">
    {% csrf_token %}
    <div>
        {{ form }}
    </div>
    <div>
        <button id="cancel-button1" type="button">Cancel</button>
        <input id="submit-post" type="submit">
    </div>
</form>
<div style="border:1px solid black;">
    <ul style="list-style-type: none;">
        {% for post in page_obj %}
            <a class="user-link" id="user-link" href="/{{ post.Owner }}"><li> @{{ post.Owner }}</li></a>
            <li id="post-content-{{ post.id }}">{{ post.Content }}</li>
            <li>{{ post.Timestamp }}</li>
            {% if request.user not in post.Likes.all %}
                <button id="like-button-{{ post.id }}" onclick="like('{{ post.id }}')" style="background-color:white;">{{ post.Likes.all.count }}</button>
            {% else %}
                <button id="like-button-{{ post.id }}" onclick="like('{{ post.id }}')" style="background-color:red;">{{ post.Likes.all.count }}</button>
            {% endif %}
            {% if user.is_authenticated %}
                {% if request.user == post.Owner %}
                <button id='edit-button-{{ post.id }}' onclick="edit('{{ post.id }}')">Edit</button>
                {% endif %}
            {% endif %}
            <div id="edit-view-{{ post.id }}" style="display:none;">
                <textarea id="edit-text-{{ post.id }}"></textarea>
                <button id="cancel-button-{{ post.id }}" type="button">Cancel</button>
                <button id="save-button-{{ post.id }}">Save</button>
            </div>
        {% endfor %}
    </ul>
</div>
<div class="container">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
        <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
            

        {% if page_obj.number %}
        <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">0</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
        <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}