{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<head>
    <script src="{% static 'network/index.js' %}"></script>
</head>
<button id="new-post">New Post</button>
<form action="{% url 'index' %}" id="post-view" style="display:none" method="post">
    {% csrf_token %}
    <div>
        {{ form }}
    </div>
    <div>
        <input id= "submit-post" type="submit">
    </div>
</form>
<div style="border:1px solid black;">
    <ul style="list-style-type: none;">
        {% for post in posts %}
            <a id="user-link" href="/{{ post.Owner }}"><li> @{{ post.Owner }}</li></a>
            <li id="post-content-{{ post.id }}">{{ post.Content }}</li>
            <li>{{ post.Timestamp }}</li>
            {% if request.user not in post.Likes.all %}
                <button id="like-button-{{ post.id }}" onclick="like('{{ post.id }}')" style="background-color:white;">Like</button>
            {% else %}
                <button id="like-button-{{ post.id }}" onclick="like('{{ post.id }}')" style="background-color:red;">Like</button>
            {% endif %}
            {% if user.is_authenticated %}
                {% if request.user == post.Owner %}
                <button id='edit-button' onclick="edit('{{ post.id }}')">Edit</button>
                {% endif %}
            {% endif %}
            <textarea id="edit-text-{{ post.id }}" style="display:none;"></textarea>
            <button id="edit-button-{{ post.id }}" style="display:none;">Save</button>
        {% endfor %}
    </ul>
</div>
{% endblock %}